
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRepartoLabel" data-translate="bCiNeApp.reparto.home.createOrEditLabel">Create or edit a Reparto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reparto.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reparto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.reparto.nombreArtista" for="field_nombreArtista">Nombre Artista</label>
            <input type="number" class="form-control" name="nombreArtista" id="field_nombreArtista"
                    ng-model="vm.reparto.nombreArtista"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.reparto.rol" for="field_rol">Rol</label>
            <input type="number" class="form-control" name="rol" id="field_rol"
                    ng-model="vm.reparto.rol"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.reparto.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.reparto.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.reparto.pelicula" for="field_pelicula">Pelicula</label>
            <input type="number" class="form-control" name="pelicula" id="field_pelicula"
                    ng-model="vm.reparto.pelicula"
                    />
        </div>

        <div class="form-group">
            <label data-translate="bCiNeApp.reparto.artistaEnReparto" for="field_artistaEnReparto">Artista En Reparto</label>
            <select class="form-control" id="field_artistaEnReparto" name="artistaEnReparto" ng-model="vm.reparto.artistaEnReparto" ng-options="artista as artista.nombre_completo for artista in vm.artistas track by artista.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bCiNeApp.reparto.peliculaDelReparto" for="field_peliculaDelReparto">Pelicula Del Reparto</label>
            <select class="form-control" id="field_peliculaDelReparto" name="peliculaDelReparto" ng-model="vm.reparto.peliculaDelReparto" ng-options="pelicula as pelicula.nombre for pelicula in vm.peliculas track by pelicula.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bCiNeApp.reparto.rolDelArtista" for="field_rolDelArtista">Rol Del Artista</label>
            <select class="form-control" id="field_rolDelArtista" name="rolDelArtista" ng-model="vm.reparto.rolDelArtista" ng-options="roles as roles.nombre_rol for roles in vm.roles track by roles.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
