
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myValoracionLabel" data-translate="bCiNeApp.valoracion.home.createOrEditLabel">Create or edit a Valoracion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.valoracion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.valoracion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.valoracion.nota" for="field_nota">Nota</label>
            <input type="number" class="form-control" name="nota" id="field_nota"
                    ng-model="vm.valoracion.nota"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.valoracion.usuarioVotado" for="field_usuarioVotado">Usuario Votado</label>
            <input type="number" class="form-control" name="usuarioVotado" id="field_usuarioVotado"
                    ng-model="vm.valoracion.usuarioVotado"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bCiNeApp.valoracion.peliculaVotada" for="field_peliculaVotada">Pelicula Votada</label>
            <input type="number" class="form-control" name="peliculaVotada" id="field_peliculaVotada"
                    ng-model="vm.valoracion.peliculaVotada"
                    />
        </div>

        <div class="form-group">
            <label data-translate="bCiNeApp.valoracion.userVote" for="field_userVote">User Vote</label>
            <select class="form-control" id="field_userVote" name="userVote" ng-model="vm.valoracion.userVote" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bCiNeApp.valoracion.userVoteMovie" for="field_userVoteMovie">User Vote Movie</label>
            <select class="form-control" id="field_userVoteMovie" name="userVoteMovie" ng-model="vm.valoracion.userVoteMovie" ng-options="pelicula as pelicula.nombre for pelicula in vm.peliculas track by pelicula.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
